---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDateHuman } from "@packages/utils/date";

export async function getStaticPaths() {
  const items = await getCollection("museum");

  return items.map((item) => ({
    params: { slug: item.slug },
    props: {
      ...item,
      ...item.data,
    },
  }));
}

const {
  artistName,
  artistBirth,
  artistDeath,
  date,
  description,
  location,
  images,
  name,
  shot,
  slug,
} = Astro.props;
---

<Layout title={name}>
  <nav>
    <a href="/museum">&lt;= all works</a>
  </nav>

  <article>
    {
      images.map(({ image, imageDescription = "pouet" }) => (
        <figure>
          <Image src={image} alt={imageDescription} />
          <figcaption>{name}</figcaption>
        </figure>
      ))
    }
    <h1>{name}</h1>

    <dl>
      <dt>Name</dt>
      <dd>{name}</dd>
      {
        description && (
          <>
            <dt>Info</dt>
            <dd>{description}</dd>
          </>
        )
      }
      <dt>Artist</dt>
      <dd>
        {artistName} ({artistBirth} - {artistDeath ?? ""})
      </dd>
      {
        location?.name && (
          <>
            <dt>Shot</dt>
            <dd>
              at {location.name} on {formatDateHuman(shot)}
            </dd>
          </>
        )
      }
    </dl>
  </article>
</Layout>

<style>
  h1 {
    display: none;
  }
  figure,
  img {
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 1rem 0;
  }
  figcaption {
    text-align: center;
  }
  dt {
    font-weight: bold;
  }
</style>
