---
import { Image } from "astro:assets";
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDateHuman } from "@packages/utils/date";
import Responsive from "@packages/ui/Responsive.astro";
import SuperTitle from "@packages/ui/SuperTitle.astro";
import { getSlug } from "../../lib/museum";

export async function getStaticPaths() {
  const items: CollectionEntry<"museum">[] = await getCollection("museum");
  return items.map((item) => {
    return {
      params: { slug: getSlug(item) },
      props: {
        item,
      },
    };
  });
}

interface Props {
  item: CollectionEntry<"museum">;
}

const { item } = Astro.props;
const {
  artistName,
  artistBirth,
  artistDeath,
  description,
  location,
  images,
  name,
  shot,
  year,
} = item.data;

const pageName = `${artistName} - ${name} (${year})`;
---

<Layout title={pageName}>
  <article>
    <SuperTitle title={pageName} />
    <Responsive>
      <nav>
        <a href="/museum">&lt;= all works</a>
      </nav>

      {
        images.map(({ image, imageDescription = "pouet" }) => (
          <figure>
            <Image src={image} alt={imageDescription} />
            <figcaption>{pageName}</figcaption>
          </figure>
        ))
      }
      <h1>{name}</h1>

      <dl>
        <dt>Name</dt>
        <dd>{name}</dd>
        {
          description && (
            <>
              <dt>Info</dt>
              <dd>{description}</dd>
            </>
          )
        }
        <dt>Artist</dt>
        <dd>
          {artistName} ({artistBirth} - {artistDeath ?? ""})
        </dd>
        {
          location && (
            <>
              <dt>Shot</dt>
              <dd>
                at {location} on {formatDateHuman(shot)}
              </dd>
            </>
          )
        }
      </dl>
    </Responsive>
  </article>
</Layout>

<style>
  h1 {
    display: none;
  }
  figure,
  img {
    max-width: 100%;
    height: auto;
  }
  figure {
    margin: 1rem 0;
  }
  figcaption {
    text-align: center;
  }
  dt {
    font-weight: bold;
  }
</style>
