---
import { formatDate } from "@packages/utils/date";
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Responsive from "@packages/ui/Responsive.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  const tags = [...new Set(posts.flatMap((el) => el.data.tags))];

  return tags.map((t) => {
    return {
      params: { tag: t },
      props: {
        tag: t,
        posts: posts.filter((el) => el.data.tags.includes(t)),
      },
    };
  });
}

const { tag, posts } = Astro.props;

let sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<Layout>
  <Responsive>
    <h1>Posts tagged with "{tag}"</h1>
    {
      sortedPosts.map(({ data: { description, title, slug, date } }) => (
        <div class="post">
          <a href={`/${slug}`}>{title}</a>
          <time datetime={date}>{formatDate(date)}</time>
          <span>{description}</span>
        </div>
      ))
    }
  </Responsive>
</Layout>

<style>
  .post {
    display: flex;
    flex-direction: column;
  }
</style>
