---
import { getCollection } from "astro:content";
import { formatDate } from "@packages/utils/date";
import Figure from "@packages/ui/Figure.astro";
import Toc from "@packages/ui/Toc.astro";
import Layout from "../../layouts/Layout.astro";
import SuperTitle from "@packages/ui/SuperTitle.astro";
import Responsive from "@packages/ui/Responsive.astro";

export async function getStaticPaths() {
  return (await getCollection("posts")).map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const { title, date, updatedAt, description, image, imageDescription, tags } =
  post.data;
const { Content, headings } = await post.render();
---

<Layout title={title} description={description} metaImage={image?.src}>
  <article>
    <SuperTitle title={title} />

    <Responsive>
      {
        image && (
          <Figure
            url={image}
            title={imageDescription || title}
            maxHeight="34rem"
          />
        )
      }

      {headings && <Toc headings={headings} />}

      <Content />

      <hr />

      <p class="date">
        Publié le {formatDate(date, "fr")}, dernière modification le {
          formatDate(updatedAt, "fr")
        }.
      </p>

      {
        tags && tags.length > 0 && (
          <p>
            <span>Tags:</span>
            <span>
              {" "}
              {tags.map((t) => (
                <a href={`/ied/tag/${t}`}>#{t}</a>
              ))}
            </span>
          </p>
        )
      }
    </Responsive>
  </article>
</Layout>

<style>
  article {
    position: relative;
  }
  h1 {
    color: var(--wevet);
    margin: 0 0 var(--babase);
    padding: var(--base) var(--babase);
    background: var(--prime);
  }
</style>
