---
import Layout from "../../layouts/Layout.astro";
import Figure from "@packages/ui/v3/Figure.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob(`../../../content/posts/*.md`);

    return posts.map((post) => {
        return {
            params: { slugT: post.frontmatter.slug },
            props: { post },
        };
    });
}

const { post } = Astro.props;

// post.frontmatter.added = new Date(post.frontmatter.added).toLocaleDateString(
//     "en-us",
//     {
//         year: "numeric",
//         month: "short",
//         day: "numeric",
//     }
// );

const {
    Content,
    getHeadings,
    frontmatter: { title, description, image, imageDescription, tags },
} = post;

console.log(">>> image", image);
console.log(">>>", await getHeadings());
---

<Layout title={title} description={description} metaImage={image}>
    <nav>
        <a href="/notes">&lt;= all notes</a>
    </nav>

    <article>
        <h1>{title}</h1>

        {image &&
                <Figure url={image} title={imageDescription || title} />
        }

        <!--<details>-->
        <!--    <summary>{date}</summary>-->
        <!--    Last modified on {updatedAt}-->
        <!--</details>-->
        <!--{headings && <Toc headings={headings} />}-->

        <Content/>

        {tags && tags.length > 0 && <Fragment>
            <p>Tags:</p>
               <div> {tags.map(t => <a href={`/ied/tag/${t}`}>#{t}</a>)}</div>
        </Fragment>}
    </article>

</Layout>

<style>
    details {
        margin-bottom: 1rem;
        font-size: var(--fs-small);
    }
    summary {
        text-decoration: underline;
        cursor: pointer;
    }
</style>