---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { formatDate } from "@packages/utils/date";

const posts = (await getCollection("posts")).map((item) => ({
  title: item.data.title,
  slug: item.slug,
  description: item.data.description,
  date: formatDate(item.data.date),
  type: "post",
}));

const items = [...posts]
  .sort((a, b) => b.date.localeCompare(a.date))
  .slice(0, 10);
---

<Layout title="/ [sieg.fr/ied]">
  <article>
    <h1>Je m'appelle Siegfried Ehret. Je suis développeur.</h1>

    <p>Bienvenue sur mon site !</p>

    <section>
      <h2>C'est tout chaud, voici les dernières publications.</h2>
      <nav>
        {
          items.map((item) => (
            <section>
              <h3>
                {item.type === "post" && (
                  <a href={`/ied/${item.slug}`}>{item.title}</a>
                )}

                {item.type === "badidon" && (
                  <a href={`/ied/badidon/${item.slug}`}>
                    <span>🎙️</span>
                    <span>{item.title}</span>
                  </a>
                )}
              </h3>
              <div>
                <time datetime={item.date}>{formatDate(item.date)}</time>
              </div>
              <p>{item.description}</p>
            </section>
          ))
        }
      </nav>
      <a href="/ied/notes">Toutes les notes.</a>
    </section>
  </article>
</Layout>

<style>
  section {
    margin: 1rem 0;
  }

  section > * {
    margin: 0;
  }

  a {
    display: inline-flex;
    gap: var(--base);
  }
</style>
