---
import Figure from "@packages/ui/Figure.astro";
import { formatDate } from "@packages/utils/date";
import Toc from "@packages/ui/Toc.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await Astro.glob(`../../content/posts/*.md`);

  return posts.map((post) => {
    return {
      params: { slugT: post.frontmatter.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

const {
  Content,
  getHeadings,
  frontmatter: {
    title,
    date,
    updatedAt,
    description,
    image,
    imageDescription,
    tags,
  },
} = post;

const headings = await getHeadings();
---

<Layout title={title} description={description} metaImage={image}>
  <article>
    {image && <Figure url={image} title={imageDescription || title} />}

    <h1>{title}</h1>
    {headings && <Toc headings={headings} />}

    <Content />

    <hr />

    <p class="date">
      Published on {formatDate(date)}, last modified on {formatDate(updatedAt)}.
    </p>

    {
      tags && tags.length > 0 && (
        <p>
          <span>Tags:</span>
          <span>
            {" "}
            {tags.map((t) => (
              <a href={`/tag/${t}`}>#{t}</a>
            ))}
          </span>
        </p>
      )
    }
  </article>
</Layout>

<style>
  article {
    position: relative;
  }
  h1 {
    color: var(--wevet);
    margin: 0 0 var(--babase);
    padding: var(--base) var(--babase);
    background: var(--prime);
  }
  details {
    margin-bottom: 1rem;
    font-size: var(--fs-small);
  }
  summary {
    text-decoration: underline;
    cursor: pointer;
  }
  @media screen and (min-width: 55rem) {
    h1 {
      position: sticky;
      top: var(--babase);
    }
  }
</style>
