---
import { contentfulClient } from "../lib/contentful";
import type { Post } from '@packages/utils/types/posts';
import Layout from '../layouts/Layout.astro'
import { formatDate } from '@packages/utils/date';
import { convert } from '@packages/utils/content';
import Toc from "../components/Toc.astro";
import Figure from "../components/Figure.astro";

export async function getStaticPaths() {
    const entries = await contentfulClient.getEntries<Post>({
        content_type: "blogPost",
        limit: 200,
        'fields.language': 'en',
        order: '-fields.publicationDate',
        select: 'fields.slug,fields.title,fields.description,fields.publicationDate,fields.body,sys.updatedAt,fields.heroImage'
    });

    const items = [];
    for (const item of entries.items) {
        const {description, title, slug, body, publicationDate, heroImage} = item.fields;
        items.push({
            params: {slug},
            props: {
                title,
                description,
                image: heroImage?.fields || {} ,
                date: formatDate(publicationDate as string),
                updatedAt: formatDate(item.sys.updatedAt),
                ...await convert(body as string)
            },
        });
    }

    return items;
}

const { title, description, date, updatedAt, headings, html, image } = Astro.props;
---

<Layout title={title} description={description} metaImage={image?.file?.url}>
    <nav>
        <a href="/notes">&lt;= all notes</a>
    </nav>

    <section>
        <h1>{title}</h1>

        {image?.file?.url &&
            <Figure url={image.file.url} title={image.title} />
        }

        <details>
            <summary>{date}</summary>
            Last modified on {updatedAt}
        </details>
        {headings && <Toc headings={headings} />}


        <Fragment set:html={html} />
    </section>

</Layout>

<style>
    details {
        margin-bottom: 1rem;
        font-size: var(--fs-small);
    }
    summary {
        text-decoration: underline;
        cursor: pointer;
    }
</style>