---
import { getCollection } from "astro:content";
import Figure from "@packages/ui/Figure.astro";
import { formatDate } from "@packages/utils/date";
import Toc from "@packages/ui/Toc.astro";
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => {
    return {
      params: { slug: post.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;

const { title, date, updatedAt, description, image, imageDescription, tags } =
  post.data;
const { Content, headings } = await post.render();
---

<Layout title={title} description={description} metaImage={image}>
  <article>
    <h1>{title}</h1>

    {image && <Figure url={image} title={imageDescription || title} maxHeight="42rem" />}

    {headings && <Toc headings={headings} />}

    <Content />

    <hr />

    <p class="date">
      Published on {formatDate(date)}, last modified on {formatDate(updatedAt)}.
    </p>

    {
      tags && tags.length > 0 && (
        <p>
          <span>Tags:</span>
          <span>
            {" "}
            {tags.map((t) => (
              <a href={`/tag/${t}`}>#{t}</a>
            ))}
          </span>
        </p>
      )
    }
  </article>
</Layout>

<style>
  article {
    position: relative;
  }
  h1 {
    color: var(--wevet);
    margin: 0;
    padding: var(--base) var(--babase);
    background: var(--prime);
    text-wrap: balance;
    text-align: center;
    font-family: "ShipsWhitle", "Berkeley Mono", monospace;
  }
</style>
