---
import { getCollection } from "astro:content";
import { contentfulClient } from "../lib/contentful";
import type { Post } from "@packages/utils/types/posts";
import Layout from "../layouts/Layout.astro";
import { formatDate } from "@packages/utils/date";

const entriesFromContentful = await contentfulClient.getEntries<Post>({
  content_type: "blogPost",
  limit: 10,
  "fields.language": "en",
  order: "-fields.publicationDate",
  select: "fields.title,fields.slug,fields.publicationDate,fields.description",
});
const entriesFromRepository = await getCollection("posts");

const contentfulPosts = entriesFromContentful.items
  .map((item) => {
    const { title, publicationDate, description, slug } = item.fields;
    return {
      title,
      slug,
      description,
      date: formatDate(publicationDate),
    };
  })
  .slice(0, 10);

const localPosts = entriesFromRepository.map((item) => ({
  title: item.data.title,
  slug: item.slug,
  description: item.data.description,
  date: formatDate(item.data.date),
}));

const posts = [...contentfulPosts, ...localPosts]
  .sort((a, b) => b.date.localeCompare(a.date))
  .slice(0, 10);
---

<Layout title="/ [ehret.me]">
  <article>
    <h1>My name is Siegfried Ehret. I am a developer.</h1>

    <p>Welcome to my website!</p>

    <section>
      <h2>Get them while they're hot, here are the latest publications.</h2>
      <nav>
        {
          posts.map((item) => (
            <section>
              <h3>
                <a href={`/${item.slug}`}>{item.title}</a>
              </h3>
              <div>
                <time datetime={item.date}>{formatDate(item.date)}</time>
              </div>
              <p>{item.description}</p>
            </section>
          ))
        }
      </nav>
      <a href="/notes">All notes.</a>
    </section>

    <section>
      <h2>Some projects.</h2>
      <p>🚧 This section is it progress. 🚧</p>
      <dl>
        <dt>
          <a href="https://git.sr.ht/~siegfriedehret/tagzytout"> tagzytout</a>
        </dt>
        <dd>A tool to automate tag creation from git commits.</dd>
      </dl>
    </section>
  </article>
</Layout>

<style>
  section {
    margin: 1rem 0;
  }

  section > * {
    margin: 0;
  }
</style>
