---
import { CollectionEntry, getCollection } from "astro:content";
import { formatDate } from "@packages/utils/date";
import Toc from "@packages/ui/Toc.astro";
import SuperTitle from "@packages/ui/SuperTitle.astro";
import Responsive from "@packages/ui/Responsive.astro";
import Layout from "../../../layouts/Layout.astro";
import { BadidonSchema } from "../../../content/config";
import Player from "../../../components/Player.astro";
import { Image } from "astro:assets";
import BadidonSubscribe from "../../../components/BadidonSubscribe.astro";
import Responsive from "@packages/ui/Responsive.astro";

interface Props {
  entry: CollectionEntry<"badidon">;
}

export async function getStaticPaths() {
  const badidonEntries = await getCollection("badidon");
  return badidonEntries.map((entry, i) => ({
    params: { slugB: entry.slug },
    props: { entry, episodeNumber: i++ },
  }));
}

const { entry, episodeNumber } = Astro.props;
const episode: BadidonSchema = entry.data;
const { title, description, audioUrl, date, updatedAt, duration, image, tags } =
  episode;

const { Content, headings } = await entry.render();
---

<Layout title={title} description={description} metaImage={image}>
  <article>
    <SuperTitle title={title} />

    <Responsive>
      {headings && <Toc headings={headings} />}

      <Player
        url={audioUrl}
        image={image}
        title={title}
        analytics={`badidon-${entry.slug}`}
      />

      <Content />

      <hr />

      <p class="date">
        Publié le {formatDate(date, "fr")}, dernière modification le {
          formatDate(updatedAt, "fr")
        }.
      </p>

      {
        tags && tags.length > 0 && (
          <p>
            <span>Tags:</span>
            <span>
              {" "}
              {tags.map((t) => (
                <a href={`/ied/tag/${t}`}>#{t}</a>
              ))}
            </span>
          </p>
        )
      }

      <BadidonSubscribe />
    </Responsive>
  </article>
</Layout>

<style>
  article {
    position: relative;
  }

  h1 {
    color: var(--wevet);
    margin: 0 0 var(--babase);
    padding: var(--base) var(--babase);
    background: var(--prime);
  }
</style>
